@{
    ViewData["Title"] = "Home Page";
}


<div style="width:100%;"> <!-- Main Div -->
    <center>
    <p style="font-size: 100px; margin-top: 110px;  font-family: 'Gill Sans Ultra Bold'"> WALL STREET COMPACT
    <h3 class="fade-in-text" style="margin: 60px">We do the research. You take the lead.</h3>
    </center>
</div>