@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="row">
    <div class="col">
        <div class="leftside">
            
        </div>
        </div>

    <div class="col">
        <div class="rightside">
            
        </div>
        </div>
</div>